@import url("https://use.typekit.net/alb2bqn.css");

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased; */
  -webkit-text-size-adjust: 100%;

  --font-family-body: kings-caslon, serif;
  --font-family-heading: "Inter", system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  --12px: 0.75rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --22px: 1.375rem;
  --24px: 1.5rem;
  --26px: 1.625rem;
  --28px: 1.75rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --34px: 2.125rem;
  --36px: 2.25rem;
  --37px: 2.313rem;

  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-surface-1: rgb(255 255 255);

    --color-text-primary: #333;
    --color-text-secondary: #333;
    --color-text-tertiary: #888;
    --color-text-jesus-words: #a22525;

    --color-icon-primary: #777777;

    --color-bg-button-primary: transparent;
    --color-bg-button-hover-primary: var(--color-bg-button-primary);
    --color-border-button-primary: #d7d7d7;
    --color-border-button-hover-primary: #c2c2c2;
    --color-text-button-primary: var(--color-text-primary);
    --color-text-button-hover-primary: var(--color-text-primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    -webkit-font-smoothing: antialiased;
    --color-bg-surface-1: rgb(25 25 25);
    --color-bg-surface-2: #161616;

    --color-text-primary: rgb(255 255 255 / 90%);
    --color-text-secondary: rgb(255 255 255 / 84%);
    --color-text-tertiary: rgb(255 255 255 / 30%);
    --color-text-muted: #888888;
    --color-text-jesus-words: #e88a8a;

    --color-border-primary: #2d2d2d;
    --color-border-secondary: #202020;

    --color-icon-primary: #888888;
    --color-icon-secondary: #444444;

    --color-bg-button-primary: #1e1e1e;
    --color-bg-button-hover-primary: #1f1f1f;
    --color-border-button-primary: #2d2d2d;
    --color-border-button-hover-primary: #2d2d2d;
    --color-text-button-primary: var(--color-text-primary);
    --color-text-button-hover-primary: var(--color-text-primary);
    --color-bg-button-tertiary: transparent;
    --color-bg-button-hover-tertiary: transparent;
    --color-border-button-tertiary: #transparent;
    --color-border-button-hover-tertiary: #2d2d2d;
    --color-text-button-tertiary: var(--color-text-tertiary);
    --color-text-button-hover-tertiary: var(--color-text-tertiary);

    --color-bg-interactive: transparent;
    --color-bg-interactive-hover: #191919;
    --color-bg-interactive-active: #1e1e1e;
    --color-bg-interactive-active-hover: var(--color-bg-interactive-active);
    --color-bg-interactive-focused: var(--color-text-tertiary);
  }
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg-surface-1);
  font-family: var(--font-family-heading);
}
